@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:regular,700,italic,700italic&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?u7oaxb") format("truetype"), url("../fonts/icons.woff?u7oaxb") format("woff"), url("../fonts/icons.svg?u7oaxb#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-phone:before {
  content: "\e942";
}

._icon-wa:before {
  content: "\ea93";
}

._icon-vk:before {
  content: "\ea98";
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #f4f1de;
  background-color: #0b0b0b;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  background: url("../img/intro/introBg.jpg") center/contain repeat;
}

.section {
  padding: 80px 0;
}
.section__border-top {
  width: 0;
  height: 0;
  border-bottom: 150px solid rgba(11, 11, 11, 0.75);
  border-left: 5000px solid transparent;
}
.section__border-bottom {
  width: 0;
  height: 0;
  border-top: 150px solid rgba(11, 11, 11, 0.75);
  border-right: 5000px solid transparent;
}

.container {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1530px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 42px;
}

.btn {
  max-width: 350px;
  width: 100%;
  height: 50px;
  background-color: #1c4448;
  border-radius: 5px;
  border: 2px solid #81b29a;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #f4f1de;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #81b29a;
  color: #0b0b0b;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(11, 11, 11, 0.75);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.overlay_show {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  max-width: 500px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f4f1de;
  transition: all 0.4s ease-in-out;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}
.modal__title {
  margin-bottom: 25px;
  font-size: calc(16px + 0.487804878vw);
  text-align: center;
  color: #0b0b0b;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal__input {
  width: 100%;
  height: 30px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.modal__message {
  resize: none;
  width: 100%;
  min-height: 200px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 30px;
  height: 25px;
  font-size: calc(18px + 0.8130081301vw);
  line-height: 0.8;
  text-align: center;
  color: #0b0b0b;
  cursor: pointer;
}
.modal__btn {
  max-width: 150px;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: 0;
  font-size: 14px;
}

._modal-active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1099.99px) {
  .section {
    padding: 100px 0;
  }
}
@media (max-width: 991.99px) {
  .section {
    padding: 50px 0;
  }
}
@media (max-width: 766.99px) {
  .modal {
    max-width: none;
    width: 96%;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 100px;
  background-color: rgba(11, 11, 11, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(11, 11, 11);
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__logo p {
  font-size: 36px;
}
.menu {
  flex: 0 1 600px;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__link {
  display: block;
  position: relative;
  font-size: 28px;
  transition: all 0.3s ease-in-out;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1c4448;
  transition: all 0.3s ease-in-out;
  transform-origin: left;
  transform: scaleX(0.1);
  opacity: 0;
}
.menu__link:hover {
  color: #1c4448;
}
.menu__link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 45;
  width: 100vw;
  height: 100vh;
  padding: 25px;
  background-color: #0b0b0b;
  transition: all 0.6s ease-in-out;
  transform: translateY(-200%);
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-top: 50px;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 35px;
}
.mobile-menu__link {
  display: block;
  position: relative;
  font-size: 28px;
  transition: all 0.3s ease-in-out;
}
.mobile-menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1c4448;
  transition: all 0.3s ease-in-out;
  transform-origin: left;
  transform: scaleX(0.1);
  opacity: 0;
}

.mobile__social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile__social_link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mobile__social_link:not(:last-child) {
  margin-right: 50px;
}
.mobile__social_tel {
  background: url("../img/icons/call.png") center/cover no-repeat;
}
.mobile__social_tg {
  background: url("../img/icons/tg.png") center/cover no-repeat;
}

.menu-icon {
  display: none;
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 50;
  width: 40px;
  height: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}
.menu-icon .top-span,
.menu-icon .bottom-span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
  background-color: #f4f1de;
  transition: all 0.3s ease-in-out;
}
.menu-icon .bottom-span {
  top: 100%;
}

._active.menu-icon .top-span,
._active.menu-icon .center-span,
._active.menu-icon .bottom-span {
  background-color: #1c4448;
}
._active.menu-icon .top-span {
  top: 50%;
  transform: rotate(45deg);
}
._active.menu-icon .center-span {
  transform-origin: center;
  transform: scaleX(0.1);
  opacity: 0.1;
}
._active.menu-icon .bottom-span {
  top: 50%;
  transform: rotate(-45deg);
}
._active.menu__link {
  color: #1c4448;
}
._active.menu__link::after {
  transform: scaleX(1);
  opacity: 1;
}
._active.mobile-menu {
  transform: translateY(0);
}
._active.mobile-menu__link {
  color: #1c4448;
}
._active.mobile-menu__link::after {
  transform: scaleX(1);
  opacity: 1;
}

._block {
  overflow: hidden;
}

@media (max-width: 991.99px) {
  .container-fluid {
    padding: 0 5px;
  }
  .header {
    height: calc(30px + 3.2520325203vw);
  }
  .header__logo {
    height: calc(25px + 3.2520325203vw);
  }
  .header__logo p {
    font-size: calc(14px + 1.4634146341vw);
  }
  .menu {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
.intro {
  padding: 200px 0 100px 0;
}
.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.intro__title {
  max-width: 750px;
  width: 100%;
  margin-bottom: 25px;
  font-size: 45px;
  font-weight: 700;
}
.intro__subtitle {
  max-width: 800px;
  width: 100%;
  margin-bottom: 100px;
  font-size: 30px;
}

@media (max-width: 991.99px) {
  .container {
    max-width: 750px;
  }
  .intro {
    padding: 150px 0 50px 0;
  }
  .intro__title {
    max-width: 490px;
    font-size: 34px;
  }
  .intro__subtitle {
    max-width: 700px;
    margin-bottom: 70px;
    font-size: 26px;
  }
}
@media (max-width: 766.99px) {
  .container {
    max-width: none;
  }
}
@media (max-width: 499.99px) {
  .intro__title {
    max-width: 400px;
    font-size: 24px;
  }
  .intro__subtitle {
    font-size: 18px;
  }
  .intro__btn {
    max-width: 250px;
    font-size: 16px;
  }
}
.about {
  background-color: rgba(11, 11, 11, 0.75);
}
.about__skills_title {
  margin-bottom: 25px;
  font-size: calc(22px + 1.6260162602vw);
}

.descr-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.descr-about__photo {
  max-width: 450px;
  border-radius: 50%;
  overflow: hidden;
}
.descr-about__photo img {
  width: 100%;
  height: 100%;
}
.descr-about__info {
  display: flex;
  flex: 0 0 60%;
  flex-direction: column;
}
.descr-about__title {
  font-size: calc(22px + 1.6260162602vw);
  margin-bottom: 25px;
}
.descr-about__text {
  font-size: calc(14px + 0.6504065041vw);
}

.info-about {
  max-width: 900px;
  margin-bottom: 70px;
}
.info-about__title {
  margin-bottom: 25px;
  font-size: calc(22px + 1.6260162602vw);
}
.info-about__list {
  padding-left: 15px;
}
.info-about__item {
  position: relative;
  font-size: calc(14px + 0.487804878vw);
}
.info-about__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
  width: 7px;
  height: 7px;
  background-color: #f4f1de;
  border-radius: 50%;
}
.info-about__item:not(:last-child) {
  margin-bottom: 15px;
}

.skills {
  max-width: 750px;
  width: 100%;
  margin-left: auto;
}
.skills__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 30px;
  background-color: #f4f1de;
}
.skills__item:not(:last-child) {
  margin-bottom: 15px;
}
.skills__name {
  position: relative;
  z-index: 5;
  display: block;
  width: 100px;
  height: 100%;
  background-color: #1c4448;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}
.skills__progressbar {
  position: absolute;
  top: 0;
  left: 85px;
  width: 73.8%;
  height: 98%;
  padding-right: 5px;
  margin-right: auto;
  background-color: #81b29a;
  box-shadow: 2px 0px 13px 0px #0b0b0b;
  transform-origin: bottom;
  transform: skewX(25deg);
}
.skills__range {
  display: block;
  width: 50px;
  height: 100%;
  position: relative;
  z-index: 5;
  background-color: transparent;
  text-align: center;
  line-height: 1.7;
  color: #0b0b0b;
}
.skill-scss .skills__progressbar {
  width: 57.4%;
}
.skill-js .skills__progressbar {
  width: 41%;
}
.skill-php .skills__progressbar {
  width: 8.2%;
}
.skill-figma .skills__progressbar {
  width: 49.2%;
}
.skill-ps .skills__progressbar {
  width: 41%;
}

@media (max-width: 1199.99px) {
  .container {
    max-width: 970px;
  }
  .descr-about__photo {
    margin-right: 15px;
  }
}
@media (max-width: 991.99px) {
  .container {
    max-width: 750px;
  }
  .descr-about {
    flex-direction: column;
  }
}
@media (max-width: 766.99px) {
  .container {
    max-width: none;
  }
  .skills__item {
    height: 20px;
  }
  .skills__name {
    width: 85px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
  }
  .skills__range {
    width: 30px;
    font-size: 12px;
    line-height: 1.5;
  }
  .descr-about__photo {
    max-width: 300px;
  }
}
@media (max-width: 499.99px) {
  .container {
    max-width: none;
  }
  .skills__progressbar {
    left: 10%;
    width: 81%;
  }
  .skill-scss .skills__progressbar {
    width: 63%;
  }
  .skill-js .skills__progressbar {
    width: 45%;
  }
  .skill-php .skills__progressbar {
    width: 15%;
  }
  .skill-figma .skills__progressbar {
    width: 54%;
  }
  .skill-ps .skills__progressbar {
    width: 45%;
  }
}
@media (max-width: 449.99px) {
  .skill-php .skills__progressbar {
    width: 20%;
  }
}
@media (max-width: 369.99px) {
  .skill-php .skills__progressbar {
    width: 25%;
  }
}
.works__title {
  margin-bottom: 50px;
  font-size: calc(22px + 1.6260162602vw);
}
.works__sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 25px;
  row-gap: 25px;
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.works__wrapper {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 20px;
}
.works__portfolio {
  position: relative;
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  background-color: #0b0b0b;
  box-shadow: 0px 0px 15px 0px #0b0b0b;
  overflow: hidden;
  transition: all 0.6s ease-in;
}
.works__portfolio:hover .portfolio__hover::before {
  left: 0%;
}
.works__portfolio:hover .portfolio__hover::after {
  right: 0%;
}
.works__portfolio:hover .portfolio__title {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.works__portfolio:hover .portfolio__btn {
  transform: translateY(0);
}

.sort-works {
  margin-bottom: 50px;
}
.sort-works__var {
  position: relative;
  width: 20%;
  height: 30px;
  background-color: #f4f1de;
  box-shadow: 0px 0px 15px 3px #0b0b0b;
  transform: skewX(25deg);
  transition: all 0.3s ease-in-out;
}
.sort-works__var span {
  display: block;
  transform: skewX(-25deg);
  transition: transform 0.3s ease-in-out;
}
.sort-works__var:hover {
  background-color: #1c4448;
  color: #f4f1de;
}
.portfolio__img {
  width: 300px;
  height: 300px;
}
.portfolio__img img {
  height: 100%;
  transform: translateX(-20%);
}
.portfolio__hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 120px;
  transform: translate(-50%, -50%);
}
.portfolio__hover::before, .portfolio__hover::after {
  content: "";
  position: absolute;
  top: -70%;
  width: 300px;
  height: 300px;
  background-color: #0b0b0b;
  opacity: 0.65;
  transform: rotate(45deg);
  transition: all 1s ease;
}
.portfolio__hover::before {
  left: -600px;
}
.portfolio__hover::after {
  right: -600px;
}
.portfolio__title {
  position: relative;
  z-index: 5;
  font-size: 32px;
  transform: scale(0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
.portfolio__btn {
  position: relative;
  z-index: 5;
  width: 150px;
  height: 40px;
  font-size: 14px;
  line-height: 2.5;
  text-align: center;
  transform: translateY(500px);
  transition: all 0.6s ease-in-out;
}
._anim-card {
  transform: scale(0);
  opacity: 0;
}

._hide-card {
  animation: hide-cards 0.4s forwards;
}

@keyframes hide-cards {
  0% {
    display: block;
    width: 300px;
  }
  100% {
    display: none;
  }
}
@media (max-width: 766.99px) {
  .sort-works {
    flex-wrap: wrap;
    row-gap: 25px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
  }
  .sort-works__var {
    width: 40%;
  }
  .works__wrapper {
    justify-content: center;
    row-gap: 40px;
  }
  .portfolio__title {
    font-size: 22px;
  }
}
.contacts {
  position: relative;
  background-color: rgba(11, 11, 11, 0.75);
}
.contacts::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 600px;
  width: 100%;
  height: 1px;
  transform: translateX(-50%);
  background-color: #f4f1de;
  opacity: 0.5;
}
.contacts__title {
  margin-bottom: 50px;
  font-size: calc(22px + 1.6260162602vw);
  text-align: center;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.form__input, .form__message {
  padding: 10px 15px;
  margin-bottom: 25px;
  font-size: 18px;
}
.form__input {
  width: 100%;
  height: 50px;
}
.form__message {
  resize: none;
  min-height: 150px;
}
@media (max-width: 766.99px) {
  .form__input, .form__message {
    margin-bottom: 15px;
    font-size: 12px;
  }
  .form__input {
    height: 40px;
  }
  .form__message {
    min-height: 250px;
  }
  .form__btn {
    height: 40px;
    font-size: 14px;
  }
}
.footer {
  height: 150px;
  padding: 30px 0;
  background-color: rgba(11, 11, 11, 0.8);
  border-bottom: 1px solid rgb(11, 11, 11);
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer__copy {
  font-size: calc(16px + 0.325203252vw);
}
.footer__links {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__link {
  position: relative;
  font-size: calc(16px + 0.325203252vw);
  transition: color 0.3s ease;
}
.footer__link:not(:last-child) {
  padding: 0px 60px 0px 0px;
}
.footer__link:hover {
  color: #1c4448;
}
.footer__link_tel::before, .footer__link_tg::before {
  content: "";
  position: absolute;
  top: 1%;
  left: -40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.footer__link_tel::before {
  background: url("../img/icons/call.png") center/cover no-repeat;
}
.footer__link_tg::before {
  background: url("../img/icons/tg.png") center/cover no-repeat;
}

@media (max-width: 766.99px) {
  .footer {
    height: 200px;
    padding: 20px 0 15px 0;
  }
  .footer__inner {
    flex-direction: column-reverse;
  }
  .footer__links {
    flex-direction: column;
    align-items: stretch;
    position: relative;
    margin-bottom: 45px;
  }
  .footer__links::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 150px;
    height: 1px;
    transform: translateX(-50%);
    background-color: #f4f1de;
    opacity: 0.5;
  }
  .footer__link {
    margin: 0;
  }
  .footer__link:not(:last-child) {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */